
@{
    ViewBag.Title = "patients";
}

<style>

    .bootstrap-tagsinput .tag {
        margin-right: 2px;
        color: #f7f7f7;
        font-size: 13px;
        background: #8c8c8c;
        border-radius: 6px;
        padding: 2px 10px 3px;
        font-weight: 100;
    }

        .bootstrap-tagsinput .tag [data-role="remove"]:after {
            content: "✖";
            padding: 3px 3px 1px 3px;
            font-size: 8px;
            border-radius: 17px;
            margin-right: -11px;
            vertical-align: super;
            background: red;
            color: white;
            font-weight: bold;
            border: 0px;
            box-shadow: 2px 2px 6px #676767;
        }

    .bootstrap-tagsinput {
        width: 100%;
        border: 1px solid black;
        border-radius: 0px;
        text-align: left;
    }

    #BillingCategoryModal {
        overflow: auto;
    }

    .mt-4 {
        margin-top: 15px;
    }

    .savebtnsforBillingCategory {
        float: right;
        margin-right: 60px;
        margin-top: 10px;
    }

    .field-validation-error {
        margin-left: -229px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .add-btn-round {
        float: right;
        width: 21px;
        padding: 0px;
        border-radius: 34px;
        margin-top: 6px;
    }

        .add-btn-round:hover:hover {
            border: 0px
        }

    .isNotActive .btn-group {
        width: 155px !important;
    }
</style>
<style>
    .patientname {
        color: #1a8cf7 !important;
    }

    .background-forDashboard {
        background: white;
        background-size: cover;
        height: 100%;
        box-shadow: black -2px -3px 24px 3px;
        margin: 15px;
    }

    #donutchart {
        height: 100%;
        width: 100%;
    }

    #LineChatGenrated {
        border-radius: 10px;
    }

    .mt-3 {
        margin-top: 1.5rem;
    }

    .custom-card {
        background-color: white;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 4px;
        overflow-y: auto;
    }

        .custom-card .heading {
            padding: 10px;
            font-size: 14px;
            font-weight: bolder;
            border-bottom: 1px solid darkgrey;
            border-bottom-style: dotted;
            background: #0364bd;
            color: white;
        }

        .custom-card .data-list {
            padding: 10px 10px;
            border-bottom: 1px solid darkgray;
            border-bottom-style: dotted;
        }

            .custom-card .data-list .dummy-image {
                font-size: 17px;
                padding: 8px;
                background-color: lightgray;
                border-radius: 50%;
            }

            .custom-card .data-list .person-name ul {
                font-size: 13px;
                padding: 0;
                list-style: none;
                position: absolute;
                left: 20%;
                margin-top: -27px;
                margin-left: 3px
            }

            .custom-card .data-list .count ul {
                list-style: none;
            }

            .custom-card .data-list .person-name small, .custom-card .data-list .count small {
                color: gray !important;
            }

    .canvasjs-chart-canvas {
        position: relative !important;
        border-radius: 4px;
    }

    .canvasjs-chart-container {
        border-radius: 4px;
    }

    .canvasjs-chart-credit {
        display: none;
    }

    .box-shadow {
        box-shadow: grey -2px 4px 12px;
    }

    .TicketGeneral {
        font-size: 17px;
        padding: 15px;
        border-radius: 4px;
    }

    .color-white {
        color: white;
    }

    .filter-icons {
        position: absolute;
        top: 20px;
        background: #909090;
        color: white;
        padding: 6px;
        font-size: 8px;
    }

    .filter-label, .filter-input {
        margin-left: 40px;
    }

    .filter-label {
        font-size: 13px;
        font-weight: 600;
    }

    .filter-input input {
        width: 100%;
        height: 33px;
        border: 1px solid #000000;
        border-radius: 1px;
    }

    @@media (min-width: 992px) {
        .col-md-2 {
            width: 19.666667%;
        }
    }

    #TicketCreationListView .modal-body label {
        text-align: left;
        font-weight: 500;
        padding-left: 95px;
        margin-top: 4px;
    }

    .filters-row-custom {
        padding: 18px;
        border-radius: 4px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .Chartslinks {
        padding: 20px;
        font-size: 15px;
        text-decoration: underline;
        cursor: pointer;
        color: blue;
    }

    .select2-choice {
        height: 34px !important;
        border-radius: 0px;
        border-color: black;
        border: 3px solid thick;
        padding: 4px 0px 4px 4px;
    }

    .select2-container {
        width: 100%;
    }

        .select2-container .select2-choice > .select2-chosen {
            padding-top: 4px;
            min-width: 100%;
            max-width: 100%;
        }

    .TicketAssigneeClass .select2-container {
        width: 155px !important;
    }

    .TickettypeClass .select2-container {
        width: 153px !important;
    }

    .ticketSubjectDashboardClass .select2-container {
        width: 136px !important;
    }

    .borderlesscoloumn {
        border: none !important;
    }

    .ticketsStatus .select2-container {
        width: 136px !important;
    }

    #ticketrows {
        font-size: 16px;
        font-weight: bold;
    }

    #ticketuser {
        padding-left: 38px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
        margin-left: -14px;
    }
</style>
<style>
    .imageuploadify-overlay {
        display: none;
    }

    .imageuploadify-images-list i {
        color: #3AA0FF;
        display: block;
        font-size: 5em;
        text-align: center;
        margin: .5em auto;
        margin-bottom: 7px;
        /* padding-bottom: 12px; */
    }

    span.imageuploadify-message {
        font-size: 24px;
        border-top: 1px solid #3AA0FF;
        border-bottom: 1px solid #3AA0FF;
        padding: 10px;
        display: inline-block;
        color: #3AA0FF;
    }

    .imageuploadify-images-list button.btn-default {
        display: block;
        color: #3AA0FF;
        border-color: #3AA0FF;
        border-radius: 1em;
        margin: 25px auto;
        width: 100%;
        max-width: 500px;
        cursor: pointer;
    }

    .imageuploadify {
        border: 2px dashed #d2d2d2;
        position: relative;
        min-height: 250px;
        min-width: 250px;
        max-width: 100% !important;
        margin: auto;
        display: flex;
        padding: 0;
        flex-direction: column;
        text-align: center;
        background-color: #fff;
        color: #3AA0FF;
        top: 10px;
    }

    .imageuploadify-container img {
        max-width: 100px;
        max-height: 100px;
        text-align: left;
    }

    .error {
        color: red
    }

    #TicketCreationListView .modal-dialog {
        width: 900px;
    }

    .select2-drop-active, .select2-drop-mask {
        position: absolute !important;
        z-index: 1000000000000000000000000000000 !important;
    }

    .CommentPartialView thead tr th {
        text-align: center !important;
    }

    .CommentPartialView {
        overflow-y: auto !important;
    }

    .multiselect.dropdown-toggle.btn.btn-default {
        width: 89% !important
    }

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background-color: #efefef !important;
    }

    .imageuploadify-overlay {
        display: none;
    }

    .imageuploadify-images-list i {
        color: #3AA0FF;
        display: block;
        font-size: 5em;
        text-align: center;
        margin: .5em auto;
        margin-bottom: 7px;
        /* padding-bottom: 12px; */
    }

    span.imageuploadify-message {
        font-size: 24px;
        border-top: 1px solid #3AA0FF;
        border-bottom: 1px solid #3AA0FF;
        padding: 10px;
        display: inline-block;
        color: #3AA0FF;
    }

    .imageuploadify-images-list button.btn-default {
        display: block;
        color: #3AA0FF;
        border-color: #3AA0FF;
        border-radius: 1em;
        margin: 25px auto;
        width: 100%;
        max-width: 500px;
        cursor: pointer;
    }

    .imageuploadify {
        border: 2px dashed #d2d2d2;
        position: relative;
        min-height: 250px;
        min-width: 250px;
        max-width: 100% !important;
        margin: auto;
        display: flex;
        padding: 0;
        flex-direction: column;
        text-align: center;
        background-color: #fff;
        color: #3AA0FF;
        top: 10px;
    }

    .imageuploadify-container img {
        max-width: 100px;
        max-height: 100px;
        text-align: left;
    }

    .a {
        float: left;
        margin-left: -32px
    }

    .form-le {
        width: 250px;
    }

    .Upload-for-Ticket {
        margin-left: -25px;
        margin-right: 17px;
        padding-left: 0px;
    }
</style>
<link href="~/Content/CustomStyle.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" />
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />


@Html.Action("Filters")

<div class="mt-4" id="CurrentPageParial">
    <table class="RpmTable" id="RpmTable">
        <thead>
            <tr>
                <th scope="col" hidden></th>
                <th scope="col">Patient Id</th>
                <th scope="col">Patient Name</th>
                <th scope="col"> Gender </th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Address 1</th>
                <th scope="col">Address 2</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Postal Code</th>
                <th scope="col">Rpm Service</th>
                <th scope="col">Enrolled In</th>
                <th scope="col" style="width: 160px;">Device</th>
                <th scope="col">Device Status</th>
                <th scope="col">Serial Number</th>
                @*<th scope="col">Attachements</th>*@
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody id="LoadRpmPatientsDiv">
            @Html.Action("RpmPatientsList", new { obj = "" })
        </tbody>


    </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 50%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Patient Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="laodPatientDatails">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CommentsModel" style="pointer-events:none" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 42%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CommentsModelLabel">Patient Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="laodPatientDatails">
                <span style="font-size: 14px; font-weight: 600;">Add Comments</span>
                <textarea id="AddCommentstxt" style="margin: 0px; width: 608px; height: 91px;font-size: 14px;pointer-events:all"></textarea>
                <div class="col-md-12" style="pointer-events:all">
                    <span>Attachments: </span>
                    <input id="mapDeviceAttachments"  type="file" multiple/>
                </div>
                <input type="hidden" id="AddcommentPatientId" />
                <input type="hidden" id="AddcommentDeviceId" />
                <input type="hidden" id="AddcommentServiceDeviceId" />
                <input type="hidden" id="AddcommentType" />
            </div>
            <div class="modal-footer">
                <button type="button" style="pointer-events:all" class="btn btn-primary" id="MapDeviceBtn" data-dismiss="modal">Save Device</button>
                <button type="button" style="pointer-events:all" class="btn btn-secondary" data-dismiss="modal">Discard Device</button>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" type="text/javascript"></script>



<script>
    var table;
    $(document).ready(function () {
        table = $("#RpmTable").dataTable({
            "order": [[0, "desc"]],
            pageLength: 10
        });
        $(".FilterElement").hide();
        $('.FilterElement').multiselect({
            includeSelectAllOption: false,
            buttonWidth: 200,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true
        });
    });


    var LastAppliedFilter;
    //$(".ResetFilter").change(function () {
    //    LastAppliedFilter = $(this).attr("id");

    //})
    //var resetFilterstoSingle = function () {
    //    $(".ResetFilter").each(function () {
    //        if (LastAppliedFilter != null) {
    //            if ($(this).attr('id') != LastAppliedFilter) {
    //                $(this).val('');
    //            }
    //        }
    //    })
    //}
    $(document).on("click", ".imagecollaspebtn", function () {
        if ($(this).text() == "See More..") {

            $(this).parent().parent().find(".pickimagecollaspe").removeClass("imagecollaspe");
            $(this).text("Hide..")
        } else {
            $(this).parent().parent().find(".pickimagecollaspe").addClass("imagecollaspe");
            $(this).text("See More..")

        }

    })





    var applyDT = function () {
        $("#RpmTable").dataTable();
    }
    var DestroyDT = function () {
        $('#RpmTable').DataTable().clear().destroy();
    }
    var MappingAttachmentsList = [];


    var ListStringify = [];

    $(document).on('click', '.AttachDevicetoPatient', function () {

        var patientid = $(this).data("patientid");
        var serviceid = $(this).data("serviceid");
        var DeviceId = $("#AttactDevice_" + patientid + "_" + serviceid + " :selected").val();
        var DeviceName = $("#AttactDevice_" + patientid + "_" + serviceid + " :selected").text();

        if (patientid && serviceid && DeviceId != "" && patientid && serviceid && DeviceId != null) {

            swal({
                title: 'Info',
                text: "Are you want to sure Attach " + DeviceName + " to current patient",
                html: true,
                type: 'Info',
                icon: "info",
                closeOnClickOutside: false,

                buttons: {
                    ViewLogs: {
                        text: "Yes",
                        value: "yes",
                    },
                    Relaod: {
                        text: "Cancel",
                        value: "cancel",
                    }
                },
            })
                .then((value) => {
                    switch (value) {

                        case "yes":

                            //$(".loader").show();
                            $("#AddcommentPatientId").val(patientid);
                            $("#AddcommentDeviceId").val(DeviceId);
                            $("#AddcommentServiceDeviceId").val(serviceid);
                            $("#AddCommentstxt").val("");
                            $("#AddcommentType").val("attach");
                             ListStringify = [];
                            $("#CommentsModelLabel").text('Attach Device to Patient');

                            $("#CommentsModel").modal("show");
                           
                            break;

                        case "cancel":
                            break;

                        default:
                    }
                });

        } else {
            swal("Warning", "Please select a Device to map with this patient", "warning");
        }
    })
    $(document).on('click', '#MapDeviceBtn', function () {

        var patientid = $("#AddcommentPatientId").val();
        var DeviceId = $("#AddcommentDeviceId").val();
        var serviceid = $("#AddcommentServiceDeviceId").val();
        var Comments = $("#AddCommentstxt").val();
        var attachmens = JSON.stringify(ListStringify);
   



        var type = $("#AddcommentType").val();
        if (patientid && DeviceId && serviceid != "") {
            $(".loader").show();
            if (type == "attach") {

            $.ajax({
                type: "POST",
                url: "/Rpm/AttachDeviceToPatient",
                data: { PatientId: patientid, serviceid: serviceid, DeviceId: DeviceId, Comments: Comments, attachments: attachmens },
                success: function (result) {
                    switch (result) {
                        case "saved":
                            $("#AddcommentPatientId").val('');
                            $("#AddcommentDeviceId").val('');
                            $("#AddcommentServiceDeviceId").val('');
                            loadPartialTable();
                            break;
                        case "alreadymapped":
                            break;
                        case "error":
                            break;
                        default:
                    }

                    $(".loader").hide();
                },
                error: function () {
                    $(".loader").hide();

                }
            });

        } else if (type == "deattach") {
            $.ajax({
                type: "POST",
                url: "/Rpm/DetachDeviceToPatient",
                data: { PatientId: patientid, serviceid: serviceid, DeviceId: DeviceId, Comments: Comments, attachments: attachmens},
                success: function (result) {
                    switch (result) {
                        case "saved":
                            loadPartialTable();
                            break;
                        case "alreadymapped":
                            break;
                        case "error":
                            break;
                        default:
                    }

                    $(".loader").hide();
                },
                error: function () {
                    $(".loader").hide();

                }
            });
        }
     

        }
    })
    $(document).on('click', '.DeAttachDevicetoPatient', function () {
        var patientid = $(this).data("patientid");
        var serviceid = $(this).data("serviceid");
        var DeviceId = $(this).data("deviceid");
        var DeviceName = $(this).data("devicename"); $

        if (patientid && serviceid && DeviceId != "" && patientid && serviceid && DeviceId != null) {

            swal({
                title: 'Info',
                text: "Are you want to sure Detach  " + DeviceName + " from current patient",
                html: true,
                type: 'Info',
                icon: "info",
                closeOnClickOutside: false,

                buttons: {
                    ViewLogs: {
                        text: "Yes",
                        value: "yes",
                    },
                    Relaod: {
                        text: "Cancel",
                        value: "cancel",
                    }
                },
            })
                .then((value) => {
                    switch (value) {

                        case "yes":
                      
                            $("#AddcommentPatientId").val(patientid);
                            $("#AddcommentDeviceId").val(DeviceId);
                            $("#AddcommentServiceDeviceId").val(serviceid);
                            $("#AddcommentType").val("deattach");
                            $("#AddCommentstxt").val("");
                            $("#CommentsModelLabel").text('Detach Device to Patient');
                            ListStringify = [];
                            $("#CommentsModel").modal("show");
                            break;

                        case "cancel":
                            break;

                        default:
                    }
                });

        } else {
            swal("Warning", "Please select a Device to map with this patient", "warning");
        }
    })

    var LoadPatientDetails = function (patientId, ServiceId) {
        $(".loader").show();
        $.ajax({
            type: "POST",
            url: "/Rpm/LoadDetails",
            data: { PatientId: patientId, ServiceId: ServiceId },
            success: function (result) {
                $("#laodPatientDatails").html(result)


                $("#exampleModal").modal("show");
                $(".loader").hide();
            },
            error: function () {
                $(".loader").hide();
            }
        })
    }


    var loadPartialTable = function () {

        $.ajax({
            type: "POST",
            url: "/Rpm/RpmPatientsList",
            data: { obj: "" },
            success: function (result) {
                $("#LoadRpmPatientsDiv").html(result)
                applyDT();

                $(".FilterElement").hide();
                $('.FilterElement').multiselect({
                    includeSelectAllOption: false,
                    buttonWidth: 200,
                    enableCaseInsensitiveFiltering: true,
                    enableFiltering: true
                });
            }
        });
    }


    function loadpartialviewdata() {
        //resetFilterstoSingle();
        var data = $("#filterTickets").serialize()
        $.ajax({
            type: "POST",
            data: data,
            url: "/Rpm/RpmPatientsList",
            success: function (dataa) {
                $("#LoadRpmPatientsDiv").html(dataa)
                console.log(dataa);
                applyDT();

                $(".FilterElement").hide();
                $('.FilterElement').multiselect({
                    includeSelectAllOption: false,
                    buttonWidth: 200,
                    enableCaseInsensitiveFiltering: true,
                    enableFiltering: true
                });
            }
        });
    }












 
    $("#mapDeviceAttachments").change(function () {
        var validImage = "false"

        var formData = new FormData();

        var file = document.getElementById("mapDeviceAttachments").files[0];

        formData.append("Filedata", file);
        var t = file.type.split('/').pop().toLowerCase();
        if (t != "jpeg" && t != "jpg") {
            swal('Please select a valid image file');
            document.getElementById("mapDeviceAttachments").value = '';
            ;
            validImage = "ext";
            return false;
        }
        if (file.size > 1024000) {
            swal('Max Upload size is 1MB only');
            document.getElementById("mapDeviceAttachments").value = '';
            validImage = "size";
            return false;
        }
        validImage = "true";




        ListStringify = [];
        if (validImage == "true") {
            for (var i = 0; i < $(this).get(0).files.length; i++) {
                var Imgreader = new FileReader();


                Imgreader.readAsDataURL($(this).get(0).files[i]);

                Imgreader.onload = function (event) {
                    var image = new Image();
                    image.onload = function () {
                        //document.getElementById("original-Img").src = image.src;
                        var canvas = document.createElement("canvas");
                        var context = canvas.getContext("2d");
                        canvas.width = image.width / 1;
                        canvas.height = image.height / 1;
                        context.drawImage(image,
                            0,
                            0,
                            image.width,
                            image.height,
                            0,
                            0,
                            canvas.width,
                            canvas.height
                        );





                        var obj = {
                            ImageData: canvas.toDataURL()
                        }
                        ListStringify.push(obj);
                        console.log(ListStringify);

                    }
                    image.src = event.target.result;

                };

            }
        } else if (validImage == "ext") {
           // alert("ext");
        } else if (validImage == "size") {
           // alert("size");
        }
});

    (function($) {
    $.fn.checkFileType = function(options) {
        var defaults = {
            allowedExtensions: [],
            success: function() {},
            error: function() {}
        };  
        options = $.extend(defaults, options);

        return this.each(function() {

            $(this).on('change', function() {
                var value = $(this).val(),
                    file = value.toLowerCase(),
                    extension = file.substring(file.lastIndexOf('.') + 1);

                if ($.inArray(extension, options.allowedExtensions) == -1) {
                    options.error();
                    $(this).focus();
                } else {
                    options.success();

                }

            });

        });
    };

})(jQuery);

</script>
