
@{
    ViewBag.Title = "BookAppointmentEnroller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book Appointment for Enroller</h2>
<div id="bookappointmentE">

</div>
<script src='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/15.1.1/autocomplete-lhc_jQuery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.14/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        showappointmentpopupE();
    });
</script>

