<style>
    .navbar-fixed-top, .sidebar {
        display: none;
    }
    html, body{
        margin-left:0px;
    }
</style>
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanks for your corporation.</h2>

