<?xml version="1.0"?>

<appSettings>
  <!--Twilio-->
  <add key="TwilioAccountSid"  value="AC53cea10daf932ef5b28f8af963c2af4c" />
  <add key="TwilioAuthToken"   value="12cbfa596725894e10f50f32d1fe45cb" />
  <add key="TwilioTwimlAppSid" value="AP2df582ccf4290f44f5c5988734c24413" />
  <add key="TwilioCallerId"    value="+19179974593" />
  <add key="MegaAidNumber"    value="+2129204500" />
  <add key="TwilioAreaCodeForNumbers"    value="929" />

  <!--Gmail SMTP-->
  <add key="SmtpHost"     value="smtpout.secureserver.net" />
  <add key="SmtpSender"   value="careplan@theccmhealth.com" />
  <add key="SmtpPassword" value="careplan@#$%" />
  <add key="SmtpPort"     value="3535" />
</appSettings>


