    <div class="row">
        <div class="col-md-2">
            @Html.Label("Add Note", htmlAttributes: new { @class = "control-label", @style = "float: left;margin-left: 16px;" })
        </div>
        <div class="col-md-10">
            <textarea id="CommentBoxTextArea"></textarea>
        </div>
        <div class="row">
            <div class="submitComment pull-right" >
                <button type="button" id="CommentGeneration" class="btn btn-default CommentGenerationUserByUser">Add Comment</button>
            </div>
        </div>
    </div>