@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav" style="margin-right: 62px;color: #66615b !important;font-size: 14px;">
            <li>
                <!--
                @Html.ActionLink(User.Identity.GetFirstName() + " - Change Password", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { title = "Change Password", @class="btn btn-xs btn-success" })
                -->
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="logouta" title="Log Out" style="color: #66615b;">
                    <span class="glyphicon glyphicon-off"></span>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    }
}